@font-face {
  font-family: 'pokemon_gb';
  src:url('../../public/resources/fonts/PokemonGB/pokemongb-raeo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'pokemon_gb', Arial;
  color: #33321a
}

#root {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  font-size: clamp(.25rem, 1.5vw, 1.5rem);
}

.App {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main-header {
  padding: .5em;
  border-bottom: 1px solid rgb(210, 210, 210);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  width: 175px;
}

.main-nav {
  display: none;
  border: 3px double black;
  border-radius: 3px;
  background-color: white;
  position: absolute;
  top: calc(100% + 3px);
  right: 3px;
  padding: .5em 1em;
  z-index: 1;
}

.main-nav::after {
  content: '';
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #015E61;
  border-radius: 3px;
}

.show-nav {
  display: block;
}

.main-nav ul {
  margin: 0;
  padding: 0;
}

.main-nav a {
  color: inherit;
  text-decoration: none;
  letter-spacing: -1px;
}

.main-nav a:hover, .main-nav a:focus {
  color: rgb(0,94,98);
  text-decoration: none;
}

.main-nav li {
  list-style: none;
  padding: .25em 0;
  cursor: pointer;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(20, minmax(.5rem, 1.5rem));
  grid-auto-rows: 3.5em;
  gap: .25em;
  justify-content: center;
  width: 100%;
  padding: 1em .5em;
}

.key {
  grid-column: span 2;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 3px;
  user-select: none;
  background-color: rgb(220,220,220);
  border: 2px solid rgb(120, 124, 126);
  font-weight: bold;
  font-size: clamp(.5rem, 2.5vw, 1.5rem);

}

.key:hover, .key:focus {
  opacity: 80%;
}

.key.wide {
  grid-column: span 3;
}

.enter-key {
  font-size: clamp(.25rem, 1.5vw, .75rem);
  padding: 1px;
}

.wrong {
  background-color: rgb(120, 124, 126);
  color: white;
}

.wrong-spot {
  background-color: rgb(201, 180, 88);
  color: white;
}

.correct {
  background-color: rgb(106, 170, 100);
  color: white;
}

.guess-grid {
  display: grid;
  grid-template-rows: repeat(8, minmax(6%, 2.5rem));
  gap: .2em;
  margin: 0 auto;
  width: 97.5%;
  padding: 2em .5em;
  justify-content: center;
  font-size: clamp(.5rem, 3.5vw, 1.2rem);
}

.guess-row {
  display: grid;
  grid-template-columns: repeat(12, minmax(6%, 2.5rem));
  gap: .2em
}

.guess-tile {
  border: 1px solid rgb(210, 210, 210);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shake  {
  animation: shake 250ms ease-in-out;
}

@keyframes shake {
  10% {
    transform: translateX(-5%);
  }
  30% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(-7.5%);
  }
  70% {
    transform: translateX(7.5%);
  }
  90% {
    transform: translateX(-5%);
  }
}

.error-message {
  display: none;
  opacity: 0;
  position: fixed;
  top: 10vh;
  right: 50vw;
  transform: translate(50%);
  background-color:rgb(120, 124, 126);
  color:white;
  border: 4px double rgb(210, 210, 210);
  border-radius: 3px;
  padding: 5px 10px;
  text-align: center;
  font-size: clamp(.5rem, 2vw, 1rem);
  line-height: 1.5em;
}

.show-error {
  display: block;
  animation: fade-out 1500ms ease-in-out;
}

@keyframes fade-out {
  20% {
    opacity: 100;
  }

  90% {
    opacity: 0;
  }
}

.modal-body {
  text-align: center;
}

.slide-away {
  opacity: 0;
  animation: slide-away 2500ms ease-out;
}

@keyframes slide-away {
  
  30% {
    opacity: 80%;
  }
  
  60% {
    transform: translateX(0);
    opacity: 100%;
  }

  90% {
    transform: translateX(90%);
    opacity: 0%;
  }
}
